#h1-home{
    font-size: 40px;
    position: relative;
    top: -200px;
}

.navbar-collapse {
    justify-content: right;
}

.navbar-nav{
    gap: 40px;
}

.how-to-h1{
    font-size: 40px;
    text-align: center;
}

/* ---------------------------Cartas de mascotas  ---------------------------*/
.card {
    max-width: 18rem;
    margin: 0 auto;
    text-align: center
}

.tab-content {
    margin-top: 2rem;
}

.btn{
    width: 12vw;
    border-radius: 20px;
    margin-bottom: 20px;
}

/*  --------------------------- fin Cartas de mascotas --------------------------- */

#h1-home span {
    color: #866552;
}


@media (max-width: 480px) { 
    #h1-home{
        font-size: 35px;
        position: relative;
        top: -240px;
    }
    .navbar-nav{
        gap: 0px;
    }
    .how-to-h1{
        font-size: 35px;
        text-align: center;
    }
    .btn{
        margin-bottom: 30px;
    }
}
  
@media (max-width: 768px) {/*mobile mas fino*/

}

.btn-nav{
    background-color: #d2c8bc;
    border-radius: 7px;
}

.btn-nav a{
    color: #3d2e26;
}
.btn-nav .active{
    background-color: #3d2e26 !important;
}

.btn-nav:hover a{
    color: #7c5e4d;
}
